<main>
    <p-fluid class="grid md:flex-row gap-8">
        <form (ngSubmit)="onSubmit()" #textForm="ngForm">
            <div class="card grid gap-4">
                <div class="font-semibold text-xl">Search</div>
                <div class="flex flex-wrap gap-6">
                    <h3>Query:</h3>
                    <textarea
                        pTextarea
                        id="address"
                        name="textField"
                        rows="5"
                        cols="30"
                        class="resize-none"
                        [(ngModel)]="formData.text"
                        required></textarea>
                </div>
                <p-button label="Search" type="submit"></p-button>
            </div>
        </form>
    </p-fluid>
    <p-fluid class="grid md:flex-row gap-8">
        <div class="card grid gap-4">
            <div class="font-semibold text-xl">Results</div>
            <div class="flex flex-wrap gap-6">
                <h3>Results:</h3>
                <div class="grid gap-4">
                    <div class="font-semibold text-lg">Title</div>
                    <div>{{ formData }}</div>
                    <div class="font-semibold text-lg">Authors</div>
                    <div>{{ formData }}</div>
                    <div class="font-semibold text-lg">Abstract</div>
                    <div>{{ formData }}</div>
                    <div class="font-semibold text-lg">Keywords</div>
                    <div>{{ formData }}</div>
                    <div class="font-semibold text-lg">URL</div>
                    <div>{{ formData}}</div>
                </div>
                <app-article-table></app-article-table>
                TESTE
            </div>
        </div>
    </p-fluid>
</main>
