<main>
    <p-fluid class="grid md:flex-row gap-8">
        <form (ngSubmit)="onSubmit()" #textForm="ngForm">
            <div class="card grid gap-4">
                <h3>Query:</h3>
                <div class="flex flex-wrap gap-6">
                    <textarea
                        pTextarea
                        id="address"
                        name="textField"
                        rows="5"
                        cols="30"
                        class="resize-none"
                        [(ngModel)]="formData.text"
                        required></textarea>
                </div>
                <p-button label="Search" type="submit"></p-button>
            </div>
        </form>
    </p-fluid>
    <p-fluid class="card grid md:flex-row gap-8">
        <h3>Results:</h3>

        <app-article-table
            [data]="submittedData" [loading]="loadingTable">
        </app-article-table>
    </p-fluid>
</main>
